<style>
    div {
        font-family: "Inter", sans-serif;
    }
</style>

<div class="container mx-auto px-5 max-w-4xl">
    <div class="grid grid-cols-1 gap-10">
        <a href="https://www.facebook.com/owhdoheidbekshkwhskbdksbdodboe" target="_blank" class="bg-blue-800 w-full rounded-xl border border-blue-500 p-5 hover:bg-blue-700 transition-colors animate-fade-up animate-delay-500">
            <h2 class="text-left font-semibold text-3xl pb-4">
                <i class="pi pi-facebook text-4xl"></i> Facebook
            </h2>
            <ul class="list-disc list-inside leading-[1.75]">
                <span class="text-left text-xl">
                    Almost impossible to find a person that they're not used Facebook in Vietnam.
                </span>
            </ul>
        </a>

        <a href="https://youtube.com/@vradient-yes?si=11BPDsqDvYy3EyZJ" target="_blank" class="bg-red-700 w-full rounded-xl border border-red-500 p-5 hover:bg-red-600 transition-colors animate-fade-up animate-delay-700">
            <h2 class="text-left font-semibold text-3xl pb-4">
                <i class="pi pi-youtube text-4xl"></i> Youtube
            </h2>
            <ul class="list-disc list-inside leading-[1.75]">
                <span class="text-left text-xl">
                    Cool place to share some of my Geometry Dash video and watching Mr Beast trying to not spend his money.
                </span>
            </ul>
        </a>
    </div>
    <div class="grid grid-cols-1 gap-10 pt-10">
        <a href="https://www.tiktok.com/@vradient?is_from_webapp=1&sender_device=pc" target="_blank" class="bg-black w-full rounded-xl border border-slate-700 p-5 hover:bg-zinc-900 transition-colors animate-fade-up animate-delay-[900ms]">
            <h2 class="text-left font-semibold text-3xl pb-4">
                <i class="pi pi-tiktok text-4xl"></i> TikTok
            </h2>
            <ul class="list-disc list-inside leading-[1.75]">
                <span class="text-left text-xl">
                    Same as Youtube, but in short video format. I don't post much on this platform.
                </span>
            </ul>
        </a>

        <a href="https://x.com/IbuyCocacola" target="_blank" class="bg-slate-800 w-full rounded-xl border border-slate-700 p-5 hover:bg-slate-700 transition-colors animate-fade-up animate-delay-[1100ms]">
            <h2 class="text-left font-semibold text-3xl pb-4">
                <i class="pi pi-twitter text-4xl"></i> (Twitter)
            </h2>
            <ul class="list-disc list-inside leading-[1.75]">
                <span class="text-left text-xl">
                    Just using this platform to get some news about tech and games. Nothing special here.
                </span>
            </ul>
        </a>

        <a href="https://steamcommunity.com/profiles/76561199196955225/" target="_blank" class="bg-[#171a21] w-full rounded-xl border border-[#1b2838] p-5 hover:bg-[#1b2838] transition-colors animate-fade-up animate-delay-[1300ms]">
            <h2 class="text-left font-semibold text-3xl pb-4">
                <i class="fab fa-steam text-4xl"></i> Steam
            </h2>
            <ul class="list-disc list-inside leading-[1.75]">
                <span class="text-left text-xl">
                    My gaming library and achievements collection. I mostly play Geometry Dash here.
                </span>
            </ul>
        </a>

        <a href="https://github.com/TacoEnjoyer" target="_blank" class="bg-gray-900 w-full rounded-xl border border-gray-700 p-5 hover:bg-gray-800 transition-colors animate-fade-up animate-delay-[1500ms]">
            <h2 class="text-left font-semibold text-3xl pb-4">
                <i class="pi pi-github text-4xl"></i> GitHub
            </h2>
            <ul class="list-disc list-inside leading-[1.75]">
                <span class="text-left text-xl">
                    Where I store my projects and learn from others. You can find the source code of this website here.
                </span>
            </ul>
        </a>
    </div>
</div>
