---
import "../../styles/global.css"
import Layout from "../../layouts/layout.astro"
import Content from "./content.astro"
import 'primeicons/primeicons.css'
import "@fortawesome/fontawesome-free/css/all.min.css";
---
<Layout>
    <div class="max-md:pt-30">
        <div class="text-center xl:pt-60 lg:pt-52 text-5xl font-sans font-bold pb-7">
          <h1 class="tracking-[0.019em]">There are some of my social media account</h1>
        </div>
      <Content />
      </div>
</Layout>