---
import "/node_modules/flag-icons/css/flag-icons.min.css";
---
<style>
    div {
        font-family: "Inter", sans-serif;
    }
</style>
<div class="grid grid-cols-1 justify-items-center items-center">
    <div class="bg-slate-900 max-w-5xl sm:mx-3.5 p-5 rounded-xl border border-slate-800 max-md:mx-5">
        <h2 class="text-left font-semibold text-3xl pb-4">👋 Well then you were brought here so</h2>
        <ul class="list-disc list-inside leading-[1.75]">
            <li class="text-left text-xl">My name is Vradient (formerly known as Atstarcore)</li>
            <li class="text-left text-xl">Trying to be an Website Fullstack Dev (currently no job)</li>
            <li class="text-left text-xl">I'm playing some games required high skills like rhythm games or platform games (Phigros and Geometry Dash mostly)</li>
            <li class="text-left text-xl">Sometimes I'll open VSCode to do some things with HTML, CSS, and a little bit of JavaScript.</li>
            <li class="text-left text-xl">From Vietnam yeah <span class="fi fi-vn"></span>.</li>
        </ul>
    </div>
</div>

<div class="grid grid-cols-1 justify-items-center items-center pt-10">
    <div class="bg-slate-900 max-w-5xl sm:mx-3.5 p-5 rounded-xl border border-slate-800 max-md:mx-5">
        <h2 class="text-left font-semibold text-3xl pb-4 max-md:pr-0 md:pr-37">🧑‍💻 There are some of my projects im currently working on</h2>
        <p class="text-gray-600 text-left font-light pb-2 text-sm">(Only 1 lol)</p>
        <ul class="list-disc list-inside leading-[1.75]">
            <li class="text-left text-xl"><a href="https://gdvnps.site" target="_blank" class="hover:underline"><span class="bg-gradient-to-r from-[#FF0000] to-[#FFC400] text-transparent bg-clip-text font-bold">GDVNPS</span></a> (Geometry Dash Viet Nam Private Server), a private Geometry Dash server for Vietnamese's people, focus on quality and friendly community. The original purpose of GDVNPS is to training good creators for the country.</li>
        </ul>
    </div>

<div class="grid grid-cols-1 justify-items-center items-center pt-10">
        <div class="bg-slate-900 max-w-5xl sm:mx-3.5 p-5 rounded-xl border border-slate-800 max-md:mx-5">
            <p>Literaly I have nothing to say much, thank you for visiting my site and let you know something about me.</p>
        </div>

<div class="grid grid-cols-1 justify-items-center items-center pt-10">
        <a href="/social" class="bg-slate-900 max-w-5xl sm:mx-3.5 p-4 rounded-xl border border-slate-800 max-md:mx-5 hover:bg-slate-800 transition-colors cursor-pointer">
            <p class="flex items-center gap-2">Wanna check out some of my social media account? <i class="pi pi-arrow-circle-right"></i></p>
        </a>
