---
import "../styles/global.css"
import Layout from "../layouts/layout.astro"
import Content from "../pages/content.astro"
import Footer from "./footer.astro"
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png"/>

<Layout>
<div class="max-md:pt-30">
  <div class="text-center xl:pt-60 lg:pt-52 text-5xl font-sans font-bold pb-7 animate-fade-up">
    <h1 class="tracking-[0.019em]">Welcome to where i called home</h1>
  </div>
<Content />
</div>
</Layout>
<Footer />