---
import 'primeicons/primeicons.css'
import '@fontsource/twinkle-star';
---

<style>
    div {
        font-family: "Inter Variable", sans-serif;
    }
</style>

<div class="fixed flex font-medium antialiased text-white top-0 left-0 right-0 pt-2 justify-center gap-4">
    <nav class="p-2.5 rounded-lg outline-1 outline-gray-700 bg-stone-900/80 backdrop-blur-sm shadow-lg">
        <ul class="flex justify-center gap-4">
            <li><a href="/" class="hover:text-gray-400 transition-colors duration-200 font-medium">Home</a></li>
            <li><a href="/social/" class="hover:text-gray-400 transition-colors duration-200 font-medium">Social</a></li>
        </ul>
    </nav>
    <nav class="p-2.5 rounded-lg bg-indigo-700 hover:bg-indigo-900 duration-200 text-white backdrop-blur-sm shadow-lg">
        <a href="https://discord.gg/RUP4SZM8aH" class="flex justify-center cursor-pointer gap-4 transition-colors duration-200">
            <ul class="flex items-center justify-center gap-4">
                <i class="pi pi-discord"></i>
                <span class="font-medium">Discord</span>
            </ul>
        </a>
    </nav>
</div>